/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }

  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }

  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

}

body {
  background-color: #000000;
  height: 100vh;
}

.interface {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #00FF08;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

h2.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: #00FF08;
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #00ff0868;
  transform: scale(1.1);
}

/* ESTILO DO CABEÇALHO */
header {
  padding: 40px 4%;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header a {
  color: #5c5c5c;
  text-decoration: none;
  display: inline-block;
  transition: .3s;
}

.logo img {
  width: 100px; /* Defina o tamanho desejado */
  height: auto; /* Para manter a proporção da imagem */
}

header a:hover {
  color: #fff;
  transform: scale(1.1);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}


/*ESTILO DO TOPO DO SITE*/
section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: #fff;
  font-size: 44px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: #00FF08;
  font-size: 84px;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutue 2s ease-in-out infinite alternate;
}

@keyframes flutue {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

/*Estilo das especialidades*/
section.Especialidades {
  padding: 40px 4%;
}

section.Especialidades .flex {
  gap: 60px;
}

.Especialidades .especialidades-box {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: .2s;
}

.Especialidades .especialidades-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #ffffff78;
}

.Especialidades .especialidades-box i {
  font-size: 70px;
  color: #00FF08;
}

.Especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/*Estilo do sobre*/

section.sobre {
  padding: 80px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.img-sobre img {
  width: 400px; /* Ajuste o valor conforme necessário */
  height: auto; /* Mantém a proporção da imagem */

}
.sobre .txt-sobre {
  color: #fff;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: #00FF08;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #00FF08;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: .2s;
}

/*ESTILO DO FORM*/

section.formulario {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;

}

form input,
form textarea {
  width: 100%;
  background-color: #242424;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}

form textarea {
  resize: none;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input[type=submit] {
  width: 120px;
  background-color: #00FF08;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;

}

/* Rodape */

footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
  border-bottom: #00FF08;
}

.borda {
  border-top: 2px solid #00FF08;
}

footer .line-footer p i {
  color: #00FF08;
  font-size: 22px;
}

footer .line-footer p a {
  color: #fff;
}

/* resposibilidade */

@media screen and (max-width: 1020px) {

  /* classes gerais */
  .flex {
    flex-direction: column;

  }

  .topo-do-site .flex {
    flex-direction: column-reverse;
  }

  h2.titulo{
    font-size: 30px;
    line-height: 34;
  }

  /* cabeçalho */
  .menu-desktop,
  .btn-contato {
    display: none;
  }

  /* topo do site */

  section.topo-do-site .flex {
    gap: 40px;
  }

  section.topo-do-site {
    padding: 20px 8%;
  }

  .topo-do-site h1 {
    font-size: 30px;
  }

  .topo-do-site .img-topo-site img {
    width: 100%;
  }

  section.Especialidades{
    padding: 40px 8%;
  }

  section.sobre{
    padding: 80px 8%;
  }

  .sobre .txt-sobre h2{
    text-align: center;
  }
}